h1 { font-size: 90%; }
.mark { fill: currentColor; stroke: currentColor; fill-opacity: 0.3; }
.axis text { fill: black; }
.axis .label { font-size: 10px; }
.axis path { fill:none; stroke: black; }
.tick { fill:none; stroke: none; }
circle { stroke:black; opacity:0.7; }
.data-table { margin-top: 30px; }
div.tooltip { position: absolute; padding: 5px; font: 12px sans-serif; background: lightgrey; border: 0px; border-radius: 8px; pointer-events: none; }


#graph {  }