











.box { font: 10px sans-serif; }

.box line,
.box rect,
.box circle { fill: steelblue; stroke: #000; stroke-width: 1px; }

.box .center { stroke-dasharray: 3,3; }

.box .outlier { fill: none; stroke: #000; }



.me { fill: red; stroke: #000; stroke-width: 1px; }



/* make viz responsive */

.svg-container {
    display: inline-block;
    position: relative;
    width: 95%;
    padding-bottom: 50%; 
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}