

#chart-container { height:360px; width:700px; overflow-y:auto; }



#chart { }


#chart table { border-collapse: collapse; font: 12px sans-serif; width: 500px; }
#chart th { font-weight: normal; text-align: center; padding: 6px; min-width: 40px; }
#chart th svg { height: 20; }
#chart tbody td { padding: 3px 5px; text-align: center; border: 1px solid #ccc; }
#chart tbody td.svgCell { text-align: left; margin:0; padding:0; }
#chart tbody td.svgCell svg {  }
.svgBar { fill: red; }

.tid:hover, .rid:hover { cursor: pointer; cursor: hand; } 

td.highlight {
    background-color: #81b2c1
}

/*
#chart tbody tr:first-child td { padding-top: 2px; }

#chart tbody rect { fill: "#990000"; }
#chart tbody tr:hover rect { fill: brown; }
*/




.tick text { stroke-width: 1px; opacity: 1.0; }
.tick line { stroke-width: 1px; opacity: .2; }



.headings {  }





.axis text { font-size: 12px; }
.axis path { display: none; }






